[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests-cache = "*"
riven = {editable = true, path = "."}
matplotlib = "*"

[dev-packages]
pytest = "*"
coverage = "*"

[requires]
python_version = "3.10"

[scripts]
test = "./tests/run_tests.sh"
